extends layout

block navbar
	header.navbar.navbar-fixed-top
		.container
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-nav.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a#main-menu-toggle.hidden-xs.open
				i.fa.fa-bars
			a.navbar-brand.col-md-2.col-sm-1.col-xs-2(href='/home')
				span Startup Institute Curriculum
			.nav-no-collapse.header-nav
				ul.nav.navbar-nav.pull-right
					li.dropdown
						a.btn.account.dropdown-toggle(data-toggle='dropdown', href='home.html#')
							.user
								span.hello Welcome!
								span.name#name_span 
									| #{user.name.first_name} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						ul.dropdown-menu
							li
								a(href='/logout')
									i.fa.fa-off
									| Logout

block sidebar
	#sidebar-left.col-lg-2.col-sm-1
		if(tree)
			.sidebar-nav.nav-collapse.collapse.navbar-collapse
				ul.nav.main-menu
					li
						a(href='/')
							i.fa.fa-bar-chart-o
							span.hidden-sm.text HOME
					for folder in tree
						li
							a.dropmenu(href='#')
								i.fa.fa-folder-open
								span.hidden-sm.text #{folder.name}
								span.chevron.closed
							ul
								for file in folder
									li
										a(href=file.url)
											i.fa.fa-folder
											span.hidden-sm.text #{file.name}
		//- a#main-menu-min.full.visible-md.visible-lg(href='#')
		//- 	i.fa.fa-angle-double-left