doctype html 5
html(lang='en')
head
	meta(charset='utf-8')
	title Startup Institute Curriculum
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='/css/bootstrap.min.css', rel='stylesheet')
	link(href='/css/editor.css', rel='stylesheet')
	link(href='/css/style.css', rel='stylesheet')
	body
		if(logged_in==true)
			block navbar
		.container
			.row#show
				if(logged_in==true)
					block sidebar
					#content.col-lg-10.col-sm-11.sidebar
						.row
							.col-sm-12.col-md-12
								.row
									.col-sm-12.col-md-12
										block content
		input(type='hidden', id='copyinput', name='copyinput', value=copy)
		script(src='/js/jquery-2.0.3.min.js')
		script(src='/js/jquery-migrate-1.2.1.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/jquery-ui-1.10.3.custom.min.js')
		script(src='/js/jquery.ui.touch-punch.min.js')
		script(src='/js/jquery.sparkline.min.js')
		script(src='/js/fullcalendar.min.js')
		script(src='/js/jquery.flot.min.js')
		script(src='/js/jquery.flot.pie.min.js')
		script(src='/js/jquery.flot.stack.min.js')
		script(src='/js/jquery.flot.resize.min.js')
		script(src='/js/jquery.flot.time.min.js')
		script(src='/js/jquery.autosize.min.js')
		script(src='/js/jquery.placeholder.min.js')
		script(src='/js/moment.min.js')
		script(src='/js/daterangepicker.min.js')
		script(src='/js/jquery.easy-pie-chart.min.js')
		script(src='/js/jquery.dataTables.min.js')
		script(src='/js/dataTables.bootstrap.min.js')
		script(src='/js/custom.min.js')
		script(src='/js/core.min.js')
		script(src='/js/pages/index.js')
		script(type='text/javascript', src='http://api.filepicker.io/v1/filepicker.js')
		script(src='/js/marked.js')
		script(src='/js/editor.js')
		script.
			var editor = new Editor();
			editor.render();
		script.
			console.log($('#filepicker_key').val());
			filepicker.setKey( $('#filepicker_key').val() );
		script.
			var n = $('#name_span').text().toUpperCase();
			$('#name_span').text(n);
			var copy = $('#copyinput').val();
			var copy = copy.substr(0,1).toUpperCase()+copy.substr(1);
			if(copy=="Nyc"){
				copy="New York";
			}
			var brand = $(".navbar-brand").text();
			$("#copyspan").text(brand + copy);
		script.
			windowHeight = $('.editor-preview-active').children().size()*100;
			console.log(windowHeight);
			$("#sidebar-left").css('min-height', windowHeight+600);
			$('.editor-preview-active').css('min-height', windowHeight+500);
			$(".codemirror-code").css("min-height", windowHeight+500);
		script.
			console.log($("#r_input").val());
			if($("#r_input").val()=="student"){
				$( ".editor-toolbar" ).remove();
				$(".codemirror").css("margin-top", -50)
			}
