doctype html 5
html(lang='en')
	head
		title Startup Institute Curriculum
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/css/bootstrap.min.css', rel='stylesheet')
	body
		| SIGNUP HERE